div{
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
}

.container{
    width: 600px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
}

.satu{
    background-color: lightblue;
}

.dua{
    background-color: lightcoral;
    position: absolute;
    top: 0;
}

.tiga{
    background-color: lightgreen;
}